<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hms_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        
        <!-- <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property> -->
        <!-- <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property> -->
        
        <!-- Second level cache -->
        <property name="cache.use_second_level_cache">true</property>
        
        <!-- Query cache -->
        <property name="cache.use_query_cache">true</property>
        
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.EhCacheRegionFactory</property>
        
        <property name="hibernate.show_sql">true</property>
        
        <mapping class="com.hotel.myapp.model.User"/>
        <mapping class="com.hotel.myapp.model.Booking"/>
        <mapping class="com.hotel.myapp.model.Hotel"/>
        <mapping class="com.hotel.myapp.model.HotelInfo"/>
        <mapping class="com.hotel.myapp.model.Likes"/>
        <mapping class="com.hotel.myapp.model.Rating"/>
        <mapping class="com.hotel.myapp.model.Review"/>
        <mapping class="com.hotel.myapp.model.RoleType"/>
        <mapping class="com.hotel.myapp.model.Transaction"/>
                
    </session-factory>
</hibernate-configuration>
